@mixin heading {
	clear: both;
	font-weight: bold;
	margin-bottom: 0.5rem;
	display: flex;
	column-gap: 0.5rem;
	align-items: center;
	margin-top: 1rem;
	scroll-margin-top: 4rem;
}

@for $i from 1 through 6 {
	h#{$i} {
		font-size: var(--step-#{5 - $i});
		@include heading;
	}
}

hr {
	width: 50%;
	margin: 2rem auto;
	border-width: 2px;
}

a {
	color: color-mix(in hsl, var(--yellow), black 25%);
	font-weight: bold;
	&:hover {
		text-decoration: underline 4px;
		text-underline-offset: 2px;
	}
}

@mixin list {
	display: flex;
	flex-flow: column wrap;
	gap: 0.375rem;
	padding-left: 2rem;
	margin-bottom: 1.5rem;
}

ol {
	@include list;
	list-style: decimal;
}

ul {
	@include list;
	list-style: disc;
}
p {
	margin-bottom: 0.75rem;
}

strong {
	font-weight: bold;
	color: var(--text);
}
