@view-transition {
	navigation: auto;
}

:root {
	--speed: 250ms;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
}

@keyframes fade-out {
	to {
		opacity: 0;
	}
}

@keyframes slide-from-right {
	from {
		transform: translateX(30px);
	}
}

@keyframes slide-to-left {
	to {
		transform: translateX(-30px);
	}
}

:root::view-transition-old(root) {
	animation:
		calc(var(--speed) * 0.3) cubic-bezier(0.4, 0, 1, 1) both fade-out,
		calc(var(--speed) * 1.2) cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

:root::view-transition-new(root) {
	animation:
		var(--speed) cubic-bezier(0, 0, 0.2, 1) calc(var(--speed) * 0.3) both fade-in,
		calc(var(--speed * 1.2)) cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}
