---
import { getEntry } from 'astro:content';
import BaseLayout from 'layouts/Base.astro';
import { render } from 'astro:content';

const mb_entry = await getEntry('master', 'resume');

const mb_rendered_res = mb_entry && (await render(mb_entry));

const MbContent = mb_rendered_res && mb_rendered_res.Content;
---

{
	mb_entry && mb_rendered_res && MbContent && (
		<BaseLayout
			mb_title="Conrad Hoang's CV"
			mb_created={mb_entry.data.created}
			mb_modified={mb_entry.data.date}
			mb_description="Conrad Hoang's résumé"
			site_map_included={false}
		>
			<div>
				<MbContent />
				<small>Updated on {mb_entry.data.date.toDateString()}</small>
			</div>
		</BaseLayout>
	)
}
<style>
	div {
		max-width: calc(var(--width) * 1.3);
		margin: auto;
		padding: 0 1rem;
		font-family: Georgia, 'Times New Roman', Times, serif;
		font-style: normal;
		--marker: var(--mauve);
		--heading-color: var(--yellow);
	}
	small {
		display: flex;
		justify-content: center;
	}
</style>
