---
import { build_title } from '@/consts';
import Layout from 'layouts/DefaultWithHeader.astro';
import FeedNavigation from '@/components/masters/FeedNavigation.astro';
import { getCollection } from 'astro:content';

const tweets = (await getCollection('tweet')).sort(
	(a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<Layout>
	<Fragment slot="additional_head">
		<title>{build_title('Feed')}</title>
		<meta name="description" content="Conrad Hoang's personal website" />
	</Fragment>

	<FeedNavigation />

	{tweets.map(JSON.stringify)}
</Layout>
