---
import Layout from 'layouts/DefaultWithHeader.astro';
import NameWithVerifiedBadge from 'components/masters/NameWithVerifiedBadge.svelte';
---

<Layout>
	<NameWithVerifiedBadge slot="header_heading" />

	<h1 style="align-self: center;">Hi! 2025 🎇</h1>
</Layout>
