---
import { Picture } from 'astro:assets';
import InjectableIFrame from './InjectableIFrame.svelte';

export type Props = { data: BannerIFrameData | BannerImageData };

const { data } = Astro.props;

const { hero_url, hero_alt, hero_css } = data;
---

<div>
	{
		typeof hero_url == 'string' ? (
			<InjectableIFrame
				{hero_url}
				{hero_alt}
				hero_css={hero_css!}
				client:load
			/>
		) : (
			<Picture
				src={hero_url}
				alt={hero_alt}
				widths={[240, 540, 720]}
				sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, 720px`}
			/>
		)
	}
</div>

<style lang="scss">
	div {
		height: 100%;
		background-color: var(--base);
	}

	picture img {
		object-fit: cover;
		aspect-ratio: 3/1;
		width: 100%;
		height: auto;
	}
</style>
