---
import { build_title } from '@/consts';
import BaseLayout from './Base.astro';
export type Props = {
	date: Date;
	title: string;
	description: string;
};

const { date, title, description } = Astro.props;

// TODO: Optimize SEO
---

<BaseLayout>
	<Fragment slot="additional_head">
		<title>{build_title(title)}</title>
		<meta name="description" content={description} />
	</Fragment>

	<div>
		<slot />

		<small>
			Updated on {date.toDateString()}
		</small>
	</div>
</BaseLayout>

<style>
	div {
		padding: 0 1rem;
	}
</style>
