---
import 'styles/default.css';
import 'styles/default-transitions.css';
import BaseLayout from './Base.astro';
import Nav from 'components/masters/Nav.astro';
import Footer from 'components/masters/Footer/Footer.astro';
import Watermark from 'components/masters/Watermark.svelte';
---

<BaseLayout>
	<Nav />
	<slot name="additional_head" slot="additional_head" />
	<main class="w-content main"><slot /></main>
	<Watermark client:visible />
	<Footer transition:persist-props />
</BaseLayout>

<style>
	.main {
		display: flex;
		max-width: 100%;
		padding: 1rem 1rem 0 1rem;
		margin: 0 auto;
		gap: 2rem;
		flex-flow: column nowrap;
		justify-content: center;
	}
</style>
